html{
    background-color: black;
}
.game-over{
    height: 100vh;
    width: 100vw;
    
}
.contents{
    height:60vh;
    width: 100vw;
}
.contents h1{
    margin:80px;
}
.button-contents{
    height:40vh;
    width: 100vw;
    margin-top: 20px;
}
.play{
    display: none;
}
button{
    width: 100vw;
    display:block;

  margin: 0 auto;
    width: 40%;
   
    height:100px;
}
.eachTextAnime span{opacity: 0;}
.eachTextAnime.appeartext span{ animation:text_anime_on 4.0s ease-out forwards; }
@keyframes text_anime_on {
	0% {opacity:0;}
	100% {opacity:1;}
}
.eachTextAnime{
    
    font-family: 'Creepster', cursive;   
    
  color: red;
  font-size:190px;
  text-align: center;
  padding-top:100px; 
}
