
@media (max-width:1000px){
    .timer-contents h1{
        padding-top: 15px;
        font-size: 30px;
    }
   
    
    .button {
        display: inline-block;
        vertical-align: middle;
        text-align:center;
        margin:32px;
}

}
