
@media (max-width:1000px){
    .timer-contents{
        font-size: 40px;
    }
   
    
    .button {
        display: inline-block;
        vertical-align: middle;
        text-align:center;
        margin:32px;
}

}
