@keyframes spin {
    from {
      transform: rotateY(0);
    }
    to {
      transform: rotateY(1turn);
    }
  }
  
  .card {
    animation: spin 5s ease;
    animation-iteration-count: infinite;
  }
  
  .container {
    perspective: 500px;
    text-align: center;
  
  }
  .card2 {
    animation: spin 5s ease;
    animation-iteration-count: infinite;
  }
  
  .container2 {
    perspective: 500px;
    text-align: center;
    
  }
  .card3 {
    animation: spin 5s ease;
    animation-iteration-count: infinite;
  }
  
  .container3 {
    perspective: 500px;
    text-align: center;

  }
  .card4 {
    animation: spin 5s ease;
    animation-iteration-count: infinite;
  }
  
  .container4 {
    perspective: 500px;
    text-align: center;
    
  }
  .card5 {
    animation: spin 5s ease;
    animation-iteration-count: infinite;
  }
  
  .container5 {
    perspective: 500px;
    text-align: center;
    
  }
  textarea{
    display: block;
    margin: 0 auto;
  }
